script
	include:coffee-script codesubmit-main.coffee
script
	include:coffee-script controllers/loginController.coffee
script
	include:coffee-script controllers/settingsController.coffee
script
	include:coffee-script controllers/assignmentsController.coffee
script
	include:coffee-script controllers/submissionsController.coffee
script
	include:coffee-script controllers/codesubmitHeaderController.coffee
script
	include:coffee-script directives/codesubmitHeader.coffee
script
	include:coffee-script services/userService.coffee
script
	include:coffee-script services/urlService.coffee
script
	include:coffee-script services/messageService.coffee
script
	include:coffee-script services/redirectService.coffee
script
	include:coffee-script services/studentService.coffee
script
	include:coffee-script services/assignmentService.coffee
script
	include:coffee-script services/submissionService.coffee
