script(type="text/ng-template", id="views/codesubmitHeader")
	nav.navbar.navbar-default.navbar-static-top
		.container#codesubmitHeader
			.navbar-header
				button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#codesubmitHeaderNavbar")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(ng-href="#/") codeSubmit
			div.navbar-collapse.collapse#codesubmitHeaderNavbar(ng-if="user.email")
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(href="javascript:void(0)" data-toggle="dropdown" role="button") Accounts
							span.caret
						ul.dropdown-menu
							li
								a(ng-href="#/admins") Admins
							li
								a(ng-href="#/students") Students
					li
						a(ng-href="#/assignments") Assignments
					li
						a(ng-href="#/submissions") Submissions
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.dropdown-toggle(href="javascript:void(0)" data-toggle="dropdown" role="button") Hi, {{user.username}}
							span.caret
						ul.dropdown-menu
							li
								a(ng-href="#/settings") Settings
					li
						a(href="javascript:void(0)" ng-click="logout()") Logout
