script(type="text/ng-template", id="views/statistics")
	div(codesubmit-header)
	.container#statistics-view
		.col-md-3
			.panel.panel-default.shadowedBox
				.panel-heading
					p
						h3
							strong Assignment List
						.message-text.text-danger(ng-if="assignmentListMsg.errorMessage") {{assignmentListMsg.errorMessage}}
						.message-text.text-success(ng-if="assignmentListMsg.successMessage") {{assignmentListMsg.successMessage}}
				.list-group(ng-init="itemsPerPage = 20;currentPage = 1")
					a.list-group-item(ng-repeat="assignment in assignments.slice((currentPage - 1) * itemsPerPage, (currentPage) * itemsPerPage)" iterms-per-page ng-class="assignment.asgId == asgId ? 'list-group-item-info' : ''" ng-href="#/statistics/{{assignment.asgId}}") {{assignment.name}}
			.text-center
				uib-pagination.pagination-sm(boundary-links="true" direction-links="false" boundary-link-numbers="true" max-size="5" total-items="assignments.length" ng-model="currentPage" items-per-page="itemsPerPage" previous-text="‹" next-text="›" first-text="«" last-text="»")
		.col-md-9
			.panel.panel-default.shadowedBox
				.panel-body
					h2
						strong Submission Statistics
					.message-text.text-danger(ng-if="statsListMsg.errorMessage") {{statsListMsg.errorMessage}}
					.message-text.text-success(ng-if="statsListMsg.successMessage") {{statsListMsg.successMessage}}
					.text-right(ng-if="!asgId")
						button.pull-right.btn.btn-default(type="button" ng-click="openExport()")
							span.glyphicon.glyphicon-export
							|  Export Scores
					table.table(ng-if="submissionStats.length" st-table="displayedStats" st-safe-src="submissionStats")
						thead
							tr
								th(st-sort="username") Username
								th(st-sort="email") Email
								th(st-sort="remarks") Remarks
								th(st-sort="updateDt") Last Submit
								th(st-sort="count") No. of Attempts
								th(st-sort="max") Score
								th Actions
							tr
								th(colspan="100")
									input.input-sm.form-control(st-search placeholder="filter" type="search")
						tbody
							tr(ng-repeat="stat in displayedStats")
								td {{stat.student.username}}
								td {{stat.student.email}}
								td {{stat.student.remarks}}
								td {{stat.updateDt ? stat.updateDt.toString() : 'N/A'}}
								td {{stat.count}} / {{stat.assignment.submissionLimit}}
								td {{stat.max}} / {{stat.assignment.sandboxConfig.testCaseNames.length}}
								td
									a.btn.btn-xs.btn-primary(ng-href="#/submissions/{{stat.student.email}}/{{stat.assignment.asgId}}") View Details
						tfoot
							tr
								td.text-center(colspan="100")
									div(st-pagination="" st-items-by-page="30" st-displayed-pages="20")
					table.table(ng-if="assignmentStats.length" st-table="displayedStats" st-safe-src="assignmentStats")
						thead
							tr
								th(st-sort="assignment.name") Name
								th(st-sort="assignment.startDt") Start Date
								th(st-sort="assignment.dueDt") Due Date
								th(st-sort="count") No. of Attempted Students
								th(st-sort="max") Highest Score
								th Actions
							tr
								th(colspan="100")
									input.input-sm.form-control(st-search placeholder="filter" type="search")
						tbody
							tr(ng-repeat="stat in displayedStats")
								td {{stat.assignment.name}}
								td {{stat.assignment.startDt.toString()}}
								td {{stat.assignment.dueDt.toString()}}
								td {{stat.count}} / {{students.length}}
								td {{stat.max}} / {{stat.assignment.sandboxConfig.testCaseNames.length}}
								td
									a.btn.btn-xs.btn-primary(ng-href="#/statistics/{{stat.assignment.asgId}}") View Details
						tfoot
							tr
								td.text-center(colspan="100")
									div(st-pagination="" st-items-by-page="30" st-displayed-pages="20")