script(type="text/ng-template", id="views/students")
	div(codesubmit-header)
	.container#students-view
		.col-md-12.col-sm-12
			.panel.panel-default.shadowedBox
				.panel-body
					p
						h2 Student List
						.text-danger(ng-if="studentListMsg.errorMessage") {{studentListMsg.errorMessage}}
						button.pull-right.btn.btn-default(type="button" ng-disabled="studentListMsg.refreshing" ng-click="listStudents()")
							span.glyphicon.glyphicon-refresh
					table.table
						thead
							tr
								th.col-sm-2 Username
								th.col-sm-3 Email
								th.col-sm-3 Remarks
								th.col-sm-4 Actions
						tbody
							tr(ng-repeat="student in students")
								td {{student.username}}
								td {{student.email}}
								td {{student.remarks}}
								td
									button.control-group.btn.btn-xs.btn-warning(type="button" ng-click="deactivate(student)") Deactivate
									button.control-group.btn.btn-xs.btn-warning(type="button" ng-click="resetPassword(student)") Reset Password
			.panel.panel-default.shadowedBox
				.panel-body
					p
						h2 Add New Students
						.text-danger(ng-if="studentCreateMsg.errorMessage") {{studentCreateMsg.errorMessage}}
						button.pull-right.btn.btn-success(type="button" data-toggle="modal" data-target="#importStudent-modal" ng-click="") Import
						.modal.fade#importStudent-modal(tabindex="-1" role="dialog")
							.modal-dialog(role="document")
								.modal-content
									.modal-header
										button.close(type="button" data-dismiss="modal")
											span &times;
										h4.modal-title Import Student
									.modal-body
										form
											.form-group
												textarea.form-control(rows="10" columns="10" ng-model="studentImportText")
												p.help-block Supported formats: .csv
											button.btn.btn-primary(type="button" ng-click="importStudent(studentImportText)") Import
					table.table
						thead
							tr
								th.col-sm-2 Username
								th.col-sm-3 Email
								th.col-sm-3 Remarks
								th.col-sm-4 Actions
						tbody
							tr(ng-repeat="student in newStudents")
								td
									input.form-control(ng-if="!student.status" type="text" ng-model="student.username")
									p(ng-if="student.status") {{student.username}}
								td
									input.form-control(ng-if="!student.status" type="text" ng-model="student.email")
									p(ng-if="student.status") {{student.email}}
								td
									input.form-control(ng-if="!student.status" type="text" ng-model="student.remarks")
									p(ng-if="student.status") {{student.remarks}}
								td
									button.btn.btn-xs(type="button" ng-disabled="student.status" ng-class="student.status == 'Adding' ? 'btn-warning' : 'btn-success'" ng-click="createStudent(student)") {{student.status || 'Add'}}
					p.text-right
						button.btn.btn-success(type="button" ng-click="addEmptyStudent()") Add More
