script(type="text/ng-template", id="views/students")
	div(codesubmit-header)
	.container#students-view
		.col-md-12.col-sm-12
			.panel.panel-default.shadowedBox
				.panel-body
					p
						h2 Student List
						.message-text.text-danger(ng-if="studentListMsg.errorMessage") {{studentListMsg.errorMessage}}
						.message-text.text-success(ng-if="studentListMsg.successMessage") {{studentListMsg.successMessage}}
						button.pull-right.btn.btn-default(type="button" ng-disabled="studentListMsg.refreshing" ng-click="listStudents()")
							span.glyphicon.glyphicon-refresh
					table.table(st-table="displayedStudents" st-safe-src="students")
						thead
							tr
								th(st-sort="username") Username
								th(st-sort="email") Email
								//- th Active
								th(st-sort="remarks") Remarks
								th Action
							tr
								th(colspan="100")
									input.input-sm.form-control(st-search placeholder="filter" type="search")
						tbody
							tr(ng-repeat="student in displayedStudents")
								td {{student.username}}
								td {{student.email}}
								//- td
								//- 	span.glyphicon.glyphicon-ok.text-success(ng-if="student.active")
								//- 	span.glyphicon.glyphicon-remove.text-danger(ng-if="!student.active")
								td {{student.remarks}}
								td
									.btn-toolbar(role="toolbar")
										//- button.control-group.btn.btn-xs.btn-warning(type="button" ng-if="student.active" ng-click="deactivate(student, $index)") Deactivate
										//- button.control-group.btn.btn-xs.btn-success(type="button" ng-if="!student.active" ng-click="activate(student, $index)") Activate
										button.control-group.btn.btn-xs.btn-warning(ng-if="showResetPw" type="button" ng-click="resetPassword(student, $index)") Reset Password
										button.control-group.btn.btn-xs.btn-primary(type="button" ng-click="openEditStudent(student)") Edit
										a.btn.btn-xs.btn-primary(ng-href="#/submissions/{{student.email}}") View Submissions
						tfoot
							tr
								td.text-center(colspan="100")
									div(st-pagination="" st-items-by-page="30" st-displayed-pages="20")
			.panel.panel-default.shadowedBox
				.panel-body
					p
						h2 Add New Students
						.message-text.text-danger(ng-if="studentCreateMsg.errorMessage") {{studentCreateMsg.errorMessage}}
						.message-text.text-success(ng-if="studentCreateMsg.successMessage") {{studentCreateMsg.successMessage}}
						button.pull-right.btn.btn-default(type="button" ng-click="openImport()")
							span.glyphicon.glyphicon-import
							|  Import
					table.table
						thead
							tr
								th Username
								th Email
								th Remarks
								th Action
						tbody
							tr(ng-repeat="student in newStudents")
								td
									input.form-control(ng-if="!student.status" type="text" placeholder="username" ng-model="student.username")
									p(ng-if="student.status") {{student.username}}
								td
									input.form-control(ng-if="!student.status" type="text" placeholder="email" ng-model="student.email")
									p(ng-if="student.status") {{student.email}}
								td
									input.form-control(ng-if="!student.status" type="text" placeholder="remarks" ng-model="student.remarks")
									p(ng-if="student.status") {{student.remarks}}
								td
									button.btn.btn-xs(type="button" ng-disabled="student.status" ng-class="student.status == 'Adding' ? 'btn-warning' : 'btn-success'" ng-click="createStudent(student)") {{student.status || 'Add'}}
					p.text-right
						button.btn.btn-success(type="button" ng-click="addEmptyStudent()")
							span.glyphicon.glyphicon-plus
							|  Add More
