script(type="text/ng-template", id="views/submissions")
	div(codesubmit-header)
	.container#submissions-view
		.col-md-3
			.panel.panel-default.shadowedBox
				.panel-heading
					p
						h3
							strong Assignment List
				.list-group
					a.list-group-item(ng-repeat="assignment in assignments" ng-class="assignment.asgId == asgId ? 'list-group-item-info' : ''" ng-href="#/submissions/{{assignment.asgId}}") {{assignment.name}}
		.col-md-9
			.panel.panel-default.shadowedBox
				.panel-body
					p
						h2(ng-if="asgId")
							strong Submissions
						h2(ng-if="!asgId")
							strong Submission statistics
						.text-right
							a(ng-href="#/submissions")
								span.glyphicon.glyphicon-export
								|  Export scores
					p(ng-if="asgId && !submissions.length") No submissions yet.
					table.table(ng-if="asgId" st-table="displayedSubmissions" st-safe-src="submissions")
						thead
							tr
								th(st-sort="email") Email
								th(st-sort="submitDt") Date
								th(st-sort="status") Status
								th(st-sort="score") Score
								th Actions
							tr
								th(colspan="100")
									input.input-sm.form-control(st-search placeholder="filter" type="search")
						tbody
							tr(ng-repeat="submission in displayedSubmissions")
								td {{submission.email}}
								td {{submission.submitDt.toString()}}
								td {{submission.status}}
								td {{submission.score == undefined ? 'N/A' : submission.score}} / {{assignment.sandboxConfig.testCaseNames.length}}
								td
									a.btn.btn-xs.btn-primary(ng-href="#/submission/{{submission.subId}}") View Details
						tfoot
							tr
								td.text-center(colspan="100")
									div(st-pagination="" st-items-by-page="30" st-displayed-pages="")
