script(type="text/ng-template", id="views/submissions")
	div(codesubmit-header)
	.container#submissions-view
		.col-md-12.col-sm-12
			.panel.panel-default.shadowedBox
				.panel-body
					h2
						strong Submissions
						small(ng-if="assignment.name")  of {{assignment.name}}
						small(ng-if="assignment.name")  from 
							a(ng-href="#/submissions/{{email}}") {{email}}
					p(ng-if="!submissions.length && !submissionStats.length") No submissions yet.
					.message-text.text-danger(ng-if="errorMessage") {{errorMessage}}
					table.table(ng-if="submissions.length" st-table="displayedSubmissions" st-safe-src="submissions")
						thead
							tr
								th(st-sort="email") Email
								th(st-sort="submitDt") Date
								th(st-sort="status") Status
								th(st-sort="score") Score
								th Actions
							tr
								th(colspan="100")
									input.input-sm.form-control(st-search placeholder="filter" type="search")
						tbody
							tr(ng-repeat="submission in displayedSubmissions")
								td {{submission.email}}
								td {{submission.submitDt.toString()}}
								td {{submission.status}}
								td {{submission.score == undefined ? 'N/A' : submission.score + '/' + submission.results.length}}
								td
									a.btn.btn-xs.btn-primary(ng-href="#/submission/{{submission.subId}}") View Details
						tfoot
							tr
								td.text-center(colspan="100")
									div(st-pagination="" st-items-by-page="30" st-displayed-pages="20")

					table.table(ng-if="submissionStats.length" st-table="displayedStats" st-safe-src="submissionStats")
						thead
							tr
								th(st-sort="assignment.name") Name
								th(st-sort="updateDt") Last Submit
								th(st-sort="count") No. of Attempts
								th(st-sort="max") Score
								th Actions
							tr
								th(colspan="100")
									input.input-sm.form-control(st-search placeholder="filter" type="search")
						tbody
							tr(ng-repeat="stat in displayedStats")
								td {{stat.assignment.name}}
								td {{stat.updateDt ? stat.updateDt.toString() : 'N/A'}}
								td {{stat.count ? stat.count : 'N/A'}}
								td {{stat.max ? stat.max + '/' + stat.assignment.sandboxConfig.testCaseNames.length : 'N/A'}}
								td
									a.btn.btn-xs.btn-primary(ng-if="stat.count" ng-href="#/submissions/{{email}}/{{stat.assignment.asgId}}") View Details
						tfoot
							tr
								td.text-center(colspan="100")
									div(st-pagination="" st-items-by-page="30" st-displayed-pages="20")
