script(src="/common/libs/ajax/libs/lodash.js/3.10.1/lodash.min.js")
script(src="/common/libs/ajax/libs/async/1.5.0/async.min.js")
script(src="/common/libs/ajax/libs/jquery/1.11.3/jquery.min.js")
script(src="/common/libs/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
script(src="/common/libs/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js")
script(src="/common/libs/RickStrahl/json.date-extensions/eab6ebf5a6ee61c7f8c2c2af71d978dbf7fdf22c/json.date-extensions.min.js")
script(src="/common/libs/ajax/libs/marked/0.3.5/marked.min.js")
script(src="/common/libs/Hypercubed/angular-marked/1b0a4ef682cbdece294db8225db8e81a775acc6b/angular-marked.min.js")
script(src="/common/libs/ajax/libs/jsSHA/2.0.2/sha512.js")
script.
	JSON.originalParse = JSON.parse;
	JSON.useDateParser();
