script(src="/common/libs/ajax/libs/ace/1.2.2/ace.js")
script(src="/common/libs/ajax/libs/angularjs/1.4.2/angular.min.js")
script(src="/common/libs/ajax/libs/angularjs/1.4.2/angular-route.min.js")
script(src="/common/libs/ajax/libs/angularjs/1.4.2/angular-cookies.min.js")
script(src="/common/libs/ajax/libs/angularjs/1.4.2/angular-sanitize.min.js")
script(src="/common/libs/angular-ui/ui-ace/36844ff7c0e0d9445bc8e31514d7f0f59cb8b048/ui-ace.min.js")
