script
	include:coffee-script codesubmit-main.coffee
script
	include:coffee-script controllers/loginController.coffee
script
	include:coffee-script controllers/settingsController.coffee
script
	include:coffee-script controllers/studentsController.coffee
script
	include:coffee-script controllers/adminsController.coffee
script
	include:coffee-script controllers/assignmentsController.coffee
script
	include:coffee-script controllers/submissionsController.coffee
script
	include:coffee-script controllers/submissionController.coffee
script
	include:coffee-script controllers/codesubmitHeaderController.coffee
script
	include:coffee-script controllers/importStudentsController.coffee
script
	include:coffee-script directives/codesubmitHeader.coffee
