script
	include:coffee-script codeSubmit-main.coffee
script
	include:coffee-script controllers/loginController.coffee
script
	include:coffee-script controllers/settingsController.coffee
script
	include:coffee-script services/userService.coffee
script
	include:coffee-script services/urlService.coffee
