script(type="text/ng-template", id="views/assignments")
	div(codesubmit-header)
	.container#assignments-view
		.col-md-12.col-sm-12
			.panel.panel-default.shadowedBox
				.panel-body
					p
						h2 Assignments
						.message-text.text-danger(ng-if="assignmentListMsg.errorMessage") {{assignmentListMsg.errorMessage}}
						.message-text.text-success(ng-if="assignmentListMsg.successMessage") {{assignmentListMsg.successMessage}}
					.panel-group#assignmentList(role="tablist")
						p(ng-if="!assignments.length") No assignments yet.
						.panel.panel-default(ng-repeat="assignment in assignments")
							.panel-heading(role="tab" data-toggle="collapse" data-parent="#assignmentList" data-target="{{'#assignmentListItem-' + $index}}" ng-click="initEditor($index)")
								h4.panel-title
									h2 {{assignment.name}}
									p
										strong Due Date:
										|  {{assignment.dueDt.toString()}}
									p
										strong Submission Limit:
										|  {{assignment.submissionLimit}}
							.panel-collapse.collapse(id="{{'assignmentListItem-' + $index}}" role="tabpanel")
								.panel-body
									p Write code:
									p.editor(id="{{'assignmentListEditor-' + $index}}")
										| // Enter your code here.
									p
										.message-text.text-danger(ng-if="assignmentSubmitMsg[$index].errorMessage") {{assignmentSubmitMsg[$index].errorMessage}}
										.message-text.text-success(ng-if="assignmentSubmitMsg[$index].successMessage") {{assignmentSubmitMsg[$index].successMessage}}
									p.text-right
										button.btn.btn-primary(type="button" ng-click="submitAssignment($index)") Submit
