script(type="text/ng-template", id="views/assignment")
	div(codesubmit-header)
	.container#assignment-view
		.col-md-12.col-sm-12
			.panel.panel-default.shadowedBox
				.panel-heading
					h2
						ol.breadcrumb
							li
								a(ng-href="#/assignments") Assignments
							li {{assignment.name}}
				.panel-body
					.alert.alert-warning(ng-if="assignment.overdue && !assignment.hardoverdue") Deadline of this assignment has passed. You can still submit your work with penalty.
					.alert.alert-danger(ng-if="assignment.hardoverdue") Deadline of this assignment has passed.
					.message-text.text-danger(ng-if="assignmentDetailMsg.errorMessage") {{assignmentSubmitMsg.errorMessage}}
					div(marked="assignment.description")
					p
						strong Details: 
						a(href="javascript:void(0)" ng-click="showDetails = !showDetails") {{showDetails ? 'hide' : 'show'}}
					div(ng-class="showDetails ? 'show' : 'hide'")
						p
							strong Start Date:
							|  {{assignment.startDt.toString()}}
						p
							strong Due Date:
							|  {{assignment.dueDt.toString()}}
						p
							strong Hard Due Date:
							|  {{assignment.hardDueDt.toString()}}
						p
							strong Penalty After Due Date:
							|  {{assignment.penalty}}
						p
							strong Submission Limit:
							|  {{assignment.submissionLimit}}
						p
							strong Language:
							|  {{assignment.sandboxConfig.language}}
						p
							strong Time Limit (Seconds):
							|  {{assignment.sandboxConfig.timeLimitS}}
						p
							strong Memory Limit (KB):
							|  {{assignment.sandboxConfig.memoryLimitMB}} * 1024
						p
							strong Output Limit (KB):
							|  {{assignment.sandboxConfig.outputLimitKB}}
					p
						strong Input (for Run):
						.help-block Reminder: Be aware of end of line characters ("\n" 
							span.ace-font ¬
							|  and "\r\n" 
							span.ace-font ¤
							| ).
					.row
						.col-md-4
							codesubmit-editor.ace_editor-small(local-storage-key="inputLocalStorageKey" editor-options="inputAceOptions" ng-model="input")
							.text-right
								a(href="javascript:void(0)" ng-click="input = assignment.sampleInput") reset
					p
						strong Write Code:
					codesubmit-editor(local-storage-key="codeLocalStorageKey" editor-options="codeAceOptions" language="assignment.sandboxConfig.language" ng-model="code")
					p
						.message-text.text-danger(ng-if="assignmentSubmitMsg.errorMessage") {{assignmentSubmitMsg.errorMessage}}
						.message-text.text-success(ng-if="assignmentSubmitMsg.successMessage") {{assignmentSubmitMsg.successMessage}}
					.clearfix
						.btn-toolbar.pull-right
							button.btn.btn-default(type="button" ng-click="run()" ng-disabled="assignmentRunMsg.successMessage == 'Running...'") Run
							button.btn.btn-primary(type="button" ng-click="submit()" ng-disabled="assignment.hardoverdue") Submit
					p.text-right
						a(ng-href="#/submissions/{{assignment.asgId}}/{{assignment.name}}") Submission History
					p
						.message-text.text-danger(ng-if="assignmentRunMsg.errorMessage") {{assignmentRunMsg.errorMessage}}
						.message-text.text-success(ng-if="assignmentRunMsg.successMessage") {{assignmentRunMsg.successMessage}}
					p(ng-if="runResult.message")
						strong Result:
						|  {{runResult.message}}
					p(ng-if="runResult.compileErrorMessage")
						strong Error Message:
						pre(ng-show="runResult.compileErrorMessage") {{runResult.compileErrorMessage}}
					p(ng-if="runResult.memory")
						strong Memory (B):
						|  {{runResult.memory}}
					p(ng-if="runResult.time")
						strong Time (Seconds):
						|  {{runResult.time}}
					.row
						.col-md-4(ng-if="runResult.input != undefined")
							strong Input:
							codesubmit-editor.ace_editor-small(editor-options="inputAceOptions" read-only="true" ng-model="runResult.input")
						.col-md-4(ng-if="runResult.output != undefined")
							strong Your Output:
							codesubmit-editor.ace_editor-small(editor-options="inputAceOptions" read-only="true" ng-model="runResult.output")
						.col-md-4(ng-if="runResult.expectedOutput != undefined")
							strong Expect Output:
							codesubmit-editor.ace_editor-small(editor-options="inputAceOptions" read-only="true" ng-model="runResult.expectedOutput")
