script(type="text/ng-template", id="views/assignment")
	div(codesubmit-header)
	.container#assignment-view
		.col-md-12.col-sm-12
			.panel.panel-default.shadowedBox
				.panel-heading
					h2
						ol.breadcrumb
							li
								a(ng-href="#/assignments") Assignments
							li {{assignment.name}}
				.panel-body
					.message-text.text-danger(ng-if="assignmentDetailMsg.errorMessage") {{assignmentSubmitMsg.errorMessage}}
					div(marked="assignment.description")
					p
						strong Details: 
						a(href="javascript:void(0)" ng-click="showDetails = !showDetails") {{showDetails ? 'hide' : 'show'}}
					div(ng-class="showDetails ? 'show' : 'hide'")
						p
							strong Start Date:
							|  {{assignment.startDt.toString()}}
						p
							strong Due Date:
							|  {{assignment.dueDt.toString()}}
						p
							strong Hard Due Date:
							|  {{assignment.hardDueDt.toString()}}
						p
							strong Penalty After Due Date:
							|  {{assignment.penalty}}
						p
							strong Submission Limit:
							|  {{assignment.submissionLimit}}
						p
							strong Language:
							|  {{assignment.sandboxConfig.language}}
						p
							strong Time Limit (Seconds):
							|  {{assignment.sandboxConfig.timeLimitS}}
						p
							strong Memory Limit (KB):
							|  {{assignment.sandboxConfig.memoryLimitMB}} * 1024
						p
							strong Output Limit (KB):
							|  {{assignment.sandboxConfig.outputLimitKB}}
					.row
						.col-xs-4
							strong Input (for Run):
							p.help-block Reminder: Be aware of end of line characters ("\n" and "\r\n").
							codesubmit-editor.ace_editor-small(ace-options="{showInvisibles: true, theme: 'twilight', showGutter: false}" ng-model="input")
							//- codesubmit-editor.ace_editor-small(ace-options="{showInvisibles: true, theme: 'clouds_midnight', showGutter: false}" ng-model="input")
							//- codesubmit-editor.ace_editor-small(ace-options="{showInvisibles: true, theme: 'terminal', showGutter: false}" ng-model="input")
							//- codesubmit-editor.ace_editor-small(ace-options="{showInvisibles: true, theme: 'chaos', showGutter: false}" ng-model="input")
							//- codesubmit-editor.ace_editor-small(ace-options="{showInvisibles: true, theme: 'chrome', showGutter: false}" ng-model="input")
							//- codesubmit-editor.ace_editor-small(ace-options="{showInvisibles: true, theme: 'dawn', showGutter: false}" ng-model="input")
					p
						strong Write Code:
					codesubmit-editor(local-storage-key="localStorageKey" language="assignment.sandboxConfig.language" ng-model="code")
					p
						.message-text.text-danger(ng-if="assignmentSubmitMsg.errorMessage") {{assignmentSubmitMsg.errorMessage}}
						.message-text.text-success(ng-if="assignmentSubmitMsg.successMessage") {{assignmentSubmitMsg.successMessage}}
					p.text-right
						button.btn.btn-default(type="button" ng-click="run()") Run
						button.btn.btn-primary(type="button" ng-click="submit()") Submit
					p.text-right
						a(ng-href="#/submissions/{{assignment.asgId}}/{{assignment.name}}") Submission History
					p
						.message-text.text-danger(ng-if="assignmentRunMsg.errorMessage") {{assignmentRunMsg.errorMessage}}
						.message-text.text-success(ng-if="assignmentRunMsg.successMessage") {{assignmentRunMsg.successMessage}}
					p(ng-if="runResult.message")
						strong Result:
						|  {{runResult.message}}
					p(ng-if="runResult.compileErrorMessage")
						strong Error Message:
						|  {{runResult.compileErrorMessage}}
					p(ng-if="runResult.memory")
						strong Memory (B):
						|  {{runResult.memory}}
					p(ng-if="runResult.time")
						strong Time (Seconds):
						|  {{runResult.time}}
					.row
						.col-xs-4(ng-if="runResult.input != undefined")
							strong Input:
							codesubmit-editor.ace_editor-small(ace-options="{showInvisibles: true, theme: 'twilight', showGutter: false}" read-only="true" ng-model="runResult.input")
						.col-xs-4(ng-if="runResult.output != undefined")
							strong Output:
							codesubmit-editor.ace_editor-small(ace-options="{showInvisibles: true, theme: 'twilight', showGutter: false}" read-only="true" ng-model="runResult.output")
						.col-xs-4(ng-if="runResult.expectedOutput != undefined")
							strong Expect Output:
							codesubmit-editor.ace_editor-small(ace-options="{showInvisibles: true, theme: 'twilight', showGutter: false}" read-only="true" ng-model="runResult.expectedOutput")
