script(type="text/ng-template", id="views/assignments")
	div(codesubmit-header)
	.container#assignments-view
		.col-md-12.col-sm-12
			.panel.panel-default.shadowedBox
				.panel-heading
					h2
						ol.breadcrumb
							li Assignments
					.message-text.text-danger(ng-if="errorMessage") {{errorMessage}}
					p(ng-if="!ongoingAssignments.length") No ongoing assignments yet.
				ul.list-group(ng-if="ongoingAssignments.length")
					li.list-group-item(ng-repeat="asg in ongoingAssignments" ng-class="{'list-group-item-success': asg.completed, 'list-group-item-danger': asg.overdue}")
						h3 {{asg.name}}
						ul.list-inline
							li
								strong Due
								|  {{asg.dueDt.toString()}}
							li
								a(ng-href="#/submissions/{{asg.asgId}}/{{asg.name}}")
									strong Submissions
									|  {{asg.scoreStats.count || 0}} / {{asg.submissionLimit}}
							li
								strong Score
								|  {{asg.scoreStats.max || 0}} / {{asg.sandboxConfig.testCaseNames.length}}
								span.text-success.glyphicon.glyphicon-ok(ng-if="asg.completed")
							li
								a.btn.btn-primary(ng-href="#/asg/{{asg.asgId}}/{{asg.name}}") Write Code
		.col-md-12.col-sm-12(ng-if="archivedAssignments.length")
			.panel.panel-default.shadowedBox
				.panel-heading
					h2
						ol.breadcrumb
							li Archived
				ul.list-group
					li.list-group-item(ng-repeat="asg in archivedAssignments" ng-class="{'list-group-item-success': asg.completed}")
						h3 {{asg.name}}
						ul.list-inline
							li
								strong Due
								|  {{asg.dueDt.toString()}}
							li
								a(ng-href="#/submissions/{{asg.asgId}}/{{asg.name}}")
									strong Submissions
									|  {{asg.scoreStats.count || 0}} / {{asg.submissionLimit}}
							li
								strong Score
								|  {{asg.scoreStats.max || 0}} / {{asg.sandboxConfig.testCaseNames.length}}
								span.text-success.glyphicon.glyphicon-ok(ng-if="asg.completed")
							li
								a.btn.btn-primary(ng-href="#/asg/{{asg.asgId}}/{{asg.name}}") View Details