script(type="text/ng-template", id="views/assignments")
	div(codesubmit-header)
	.container#assignments-view
		.col-md-12.col-sm-12
			.panel.panel-default.shadowedBox
				.panel-heading
					h2
						ol.breadcrumb
							li Assignments
					.message-text.text-danger(ng-if="errorMessage") {{errorMessage}}
					p(ng-if="!assignments.length") No assignments yet.
				ul.list-group(ng-if="assignments.length")
					li.list-group-item(ng-repeat="assignment in assignments")
						h3 {{assignment.name}}
						ul.list-inline
							li
								strong Due
								|  {{assignment.dueDt.toString()}}
							li
								a(ng-href="#/submissions/{{assignment.asgId}}/{{assignment.name}}")
									strong Submissions
									|  {{assignment.scoreStats.count || 0}} / {{assignment.submissionLimit}}
							li
								strong Score
								|  {{assignment.scoreStats.max || 0}} / {{assignment.sandboxConfig.testCaseNames.length}}
								span.text-success.glyphicon.glyphicon-ok(ng-if="assignment.scoreStats.max == assignment.sandboxConfig.testCaseNames.length")
							li(ng-if="assignment.hardDueDt > now")
								a.btn.btn-primary(ng-href="#/assignment/{{assignment.asgId}}/{{assignment.name}}") Write Code
							li(ng-if="assignment.hardDueDt <= now")
								a.btn.btn-primary(ng-href="#/assignment/{{assignment.asgId}}/{{assignment.name}}") View Details
