script(type="text/ng-template", id="views/codesubmitHeader")
	nav.navbar.navbar-default.navbar-static-top
		.container#codesubmitHeader
			.navbar-header
				button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#codesubmitHeaderNavbar")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(ng-href="#/") codeSubmit 
					small
						small
							small
								small beta
			div.navbar-collapse.collapse#codesubmitHeaderNavbar(ng-if="user.email")
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.dropdown-toggle(href="javascript:void(0)" data-toggle="dropdown") Hi, {{user.username}}
							span.caret
						ul.dropdown-menu
							li
								a(ng-href="#/settings") Change Password
					li
						a(href="javascript:void(0)" ng-click="logout()") Logout
