script(type="text/ng-template", id="views/submission")
	div(codesubmit-header)
	.container#submission-view
		.col-md-12.col-sm-12
			.panel.panel-default.shadowedBox
				.panel-heading
					h2
						ol.breadcrumb
							li
								a(ng-href="#/assignments") Assignments
							li
								a(ng-href="#/assignment/{{asgId}}/{{asgName}}") {{asgName}}
							li
								a(ng-href="#/submissions/{{asgId}}/{{asgName}}") Submissions
							li {{subName}}
				.panel-body
					.message-text.text-danger(ng-if="errorMessage") {{errorMessage}}
					p
						strong Status
						|  {{submission.status}}
					p
						strong Score
						|  {{submission.score == undefined ? '...' : submission.score}} / {{submission.results.length}}
					p
						strong Result
						ul
							li(ng-repeat="result in submission.results")
								ul.list-inline
									li {{result.testCaseName}}:
									li(ng-class="result.correct ? 'text-success' : 'text-danger'")
										span.glyphicon(ng-class="result.correct ? 'glyphicon-ok' : 'glyphicon-remove'")
										| {{result.message}}
									li(ng-if="result.hint") (hint: {{result.hint}})
					//- TODO: get language from somewhere instead of hardcode
					codesubmit-editor(language="'c'" read-only="true" ng-model="code")
