script(type="text/ng-template", id="views/submissions")
	div(codesubmit-header)
	.container#submissions-view
		.col-md-12.col-sm-12
			.panel.panel-default.shadowedBox
				.panel-heading
					h2
						ol.breadcrumb
							li
								a(ng-href="#/assignments") Assignments
							li
								a(ng-href="#/assignment/{{asgId}}/{{asgName}}") {{asgName}}
							li Submissions
					.message-text.text-danger(ng-if="errorMessage") {{errorMessage}}
				.panel-body(ng-if="!submissions.length")
					p No submissions yet.
				ul.list-group#submissionList(ng-if="submissions.length")
					li.list-group-item(ng-repeat="submission in submissions")
						p
							strong Attempt # {{submissions.length - $index}}
						ul.list-inline
							li
								strong Date
								|  {{submission.submitDt.toString()}}
							li
								strong Status
								|  {{submission.status}}
							li
								strong Score
								|  {{submission.score == undefined ? 'N/A' : submission.score}}
							li
								a.btn.btn-primary(ng-href="#/submission/{{asgId}}/{{asgName}}/{{submission.subId}}/{{submissions.length - $index}}") View Details
