doctype html
html(ng-app="codesubmit")
	head
		meta(charset="utf-8")
		title codeSubmit
		meta(name="Description", content="a web base code judge system")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		include ../../common/client/lib/ie.jade
		include ../../common/client/lib/css.jade

		include ../../common/client/stylesheets/stylesheets.jade

		include ../../common/client/lib/headjs.jade

		include scripts/scripts.jade
		include ../../common/client/scripts/scripts.jade

	body#codesubmit

		div(ng-view)

		include views/views.jade
		include ../../common/client/views/views.jade

		include ../../common/client/lib/bottomjs.jade
		include ../../common/client/lib/browserupdate.jade
