script(src="/common/libs/ajax/libs/angular-smart-table/2.1.6/smart-table.min.js")
script(src="/common/libs/Luegg/angularjs-scroll-glue/b4ad761347193962f8f44fd28bcee947c4adb812/src/scrollglue.js")
script(src="/common/libs/ajax/libs/clipboard.js/1.5.5/clipboard.min.js")
script(src="/common/libs/ajax/libs/PapaParse/4.1.2/papaparse.min.js")
script new Clipboard('.clipboard');
include ../../../common/client/lib/bottomjs.jade
